<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>

<style>
   .layout{
        width:500px;
        margin:0 auto;
        margin-top:40px;
    }

</style>

<body>

  <div class="layout">
    <table>
      <thead>
        <tr>
          <th>글번호</th>
          <th>제목</th>
        </tr>
      </thead>
      <tbody>
        <!--  list에 있는 각각의 board에 대해-->
        <tr th:each="board : ${list}">
          <td th:text="${board.id}">1</td>
          <td>
            <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a> <!--  누르면 여기로 이동해라-->
          </td>
        </tr>
      </tbody>
    </table>

    <!-- start~end까지 반복문 돌면서  페이지 번호생성(1 2 3 4 5 6)
    현재 보는 페이지와 다른경우 : 누르면 이동가능하도록
    같은경우 : 눌러도 이동못하게-->
    <th:block th:each="page : ${#numbers.sequence(startPage,endPage)}">  <!-- param은 주소창?뒤 파라미터들이 담겨있음-->
      <a th:if="${page!=nowPage}" th:href="@{/board/list(page=${page-1}, searchKeyword=${param.searchKeyword})}" th:text="${page}"></a>
      <strong th:if="${page==nowPage}" th:text="${page}" style="color : red"></strong>
    </th:block>

    <!-- 검색 버트면 누르면 함수실행해라 / 검색창에 입력한것을 인자로보낸다!-->
    <form th:action="@{/board/list}" method="get">
      <input type="text" name="searchKeyword">
      <button type="submit">검색</button>
    </form>

    <form th:action="@{/board/write}" method="get">
      <button type="submit">글쓰기</button>
    </form>

  </div>

</body>
</html>