<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>상품명</th>
        <th>가격</th>
        <th>재고수량</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.stockQuantity}"></td>
        <td>
          <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}"
             class="btn btn-primary" role="button">수정</a>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- No-Offset 페이징 (더보기 버튼만) -->
    <div class="d-flex justify-content-center mt-3">
      <div th:if="${items == null or items.isEmpty()}">
        <a th:href="@{/items(itemId=10, pageSize=${pageSize})}"
           class="btn btn-outline-primary">이전페이지
        </a>
      </div>
      <div th:if="${items != null and !items.isEmpty()}">
        <a th:href="@{/items(itemId=${lastItemId+2*pageSize}, pageSize=${pageSize})}"
           class="btn btn-outline-primary">이전페이지
        </a>
      </div>
      <!-- 더보기 버튼 (다음 데이터가 있을 때만 표시) -->
      <div th:if="${items != null and !items.isEmpty()}">
        <a th:href="@{/items(itemId=${lastItemId}, pageSize=${pageSize})}"
           class="btn btn-outline-primary">다음페이지
        </a>
      </div>
    </div>
  </div>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>